@media screen and (max-width: 540px){
  .quizz-container{
      width: 90%;
  }

  .quizz-logo{
      img {
          width: 100%;
      }

      h3 {
          text-align: center;
          font-size: 1.2rem;
      }
  }

  .quizz-questions {
      h3 {
          font-size: 1.1rem;
      }
  }

  .quizz-options {
      flex-direction: column;
      align-items: center;

      .btn-option {
          width: 100%;
      }
  }

  .quizz-results {
      h2 {
          font-size: 1.2rem;
          text-align: center;
      }
      ul {
          flex-direction: column;
          align-items: center;
          width: 100%;

          li {
              width: 100%;
          }
      }

      button {
          width: 100%;
      }
  }
}

@media screen and (max-width: 300px){
  .quizz-logo{
      h3 {
          text-align: center;
          font-size: 1rem;
      }
  }

  .quizz-questions {
      h3 {
          font-size: 1rem;
      }
  }


}
